body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('https://images.unsplash.com/photo-1507697364665-69eec30ea71e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTA0fHxsaWdodHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60') no-repeat center center fixed;
    background-size: cover;
}
.container{
    white-space: nowrap;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}